@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  /* background-color: #141414; */
}
/*---------------global-------------*/

.news{
  background-image: url('../public/images/news_texture.png');
}
/*---------------MovieBox-------------*/
@media only screen and (max-width: 768px) {
  .MovieBox {
    width: 320px;
    height: 250px;
  }
  
  .mobile{
    display: none;
  }
}


.bar:nth-child(1){
  top: 0;
}
.bar:nth-child(2){
  top: 50%;
  transform: translateY(-50%);
}
.bar:nth-child(3){
  top: 100%;
  transform: translateY(-100%);
}
.sidebar-btn .active{
  height: 40px;
}

.sidebar{
  animation: 0.3s slideLeft;
}
@keyframes slideLeft{
  0%{
      transform: translateY(-100%);
  }
  100%{
      transform: translateY(0);
  }
}
@media(max-width: 776px){
  .mobile{
      display: none;
  }
}  

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

/* Responsive CSS */
@media (max-width: 768px) {
  .products {
    grid-template-columns: 1fr;
  }    
}

.admin{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: unset;
  gap: 5px;
}
.hideSidebar{
display: block;
padding-inline: 30px;
}

.header{
  box-shadow: 0 5px 21px -5px #c7d0f4;
  background-color: white;
  color: black;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.adminsidebar {
  width: 250px; 
  transition: transform 0.3s ease; 
}

.sidebar-hidden {
  transform: translateX(-100%); 
}